.priceDiv {
	width: 62%;
	height: 60px;
	background: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
	margin-top: 4px;
	position: absolute;
	right: 8px;
	top: 14px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.oldPriceDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	text-shadow: 2px 2px 4px rgba(212, 206, 206, 0.3);
}
.oldPriceCard {
	text-decoration: line-through;
	color: #c9c9c9;
	font-size: 1.25em;
	letter-spacing: 0.05em;
	font-weight: 700;
	line-height: 1.2em;
}
.profitDiv {
	min-width: 40px;
	height: 25px;
	background: #e91e63;
	border-radius: 15px;
	opacity: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	color: #fff;
	font-weight: 700;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Добавляет тень тексту */
}
.priceDiv .priceCard {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: right; /* Выравнивание текста вправо */
	font-size: 1.75em;
	letter-spacing: 0.1em;
	font-weight: 700;
	line-height: 1.2em;
	color: #333;
}
.priceDiv .priceCard span {
	font-size: 0.75em;
	font-weight: 400;
	letter-spacing: 0.05em;
	color: #e91e63;
	text-transform: initial;
}
.priceDiv .priceCoin {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	width: 100%;
	font-size: 1.25em;
	letter-spacing: 0.1em;
	font-weight: 500;
	line-height: 1.1em;
	color: #333;
}
.nameDiv {
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-content: center;
	align-items: center;
	text-align: end;
	background: transparent;
	position: relative;
	top: 30px;
	margin-top: 63px;
}
.nameDiv h2 {
	position: relative;
  display: -webkit-box;
	min-height: 22px;
	padding: 2px;
	background: transparent;
  -webkit-line-clamp: 2; /* Ограничивает текст одной строкой */
  -webkit-box-orient: vertical;
	overflow: hidden;
  text-overflow: ellipsis; /* Для совместимости с другими браузерами */
	top: 10px;
	align-items: center;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.ulDiv {
	width: 100%;
	height: 40px;
	background: transparent;
	position: relative;
	top: 35px;
}
.ulDiv ul li span {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}